.sidebar-container {
    display: flex;
    flex-direction: column;
    grid-area: 3 / 1 / 4 / 2;
    text-align: start;
}

.sidebar-container>*:not(:first-child) {
    margin-top: 5px;
}

.sidebar-container button {
    display: flex;
}

.sidebar-container button:focus {
    box-shadow: inset 0px -3px 0px blueviolet;
}

.sidebar-container button i {
    margin-right: .2rem;
}

@media (max-width: 700px) {
    .sidebar-container {
        flex-direction: row;
        text-align: center;
        grid-area: 3 / 1 / 4 / 3;
        width: 100vw;
    }
    .sidebar-container>*:not(:first-child) {
        margin-top: 0px;
    }
    .sidebar-container button:hover {
        box-shadow: inset 0px -3px 0px blueviolet;
    }
}