.sidebar-container {
    display: flex;
    flex-direction: column;
    grid-area: 3 / 1 / 4 / 2;
    text-align: start;
}

.sidebar-container>*:not(:first-child) {
    margin-top: 5px;
}

.sidebar-container button {
    display: flex;
}

.sidebar-container button:focus {
    box-shadow: 0px 2px 0px blueviolet;
}

.sidebar-container button i {
    margin-right: .2rem;
}