.email-filter {
    display: flex;
    grid-area: 2 / 2 / 3 / 3;
    align-items: center;
    width: 100%;
}

.email-filter input {
    border: none;
    width: 100%;
    font-size: 1rem;
    background-color: #EFEFEF;
    color: blueviolet;
    padding: .675rem;
    border-right: 1px solid blueviolet;
}

.email-filter input:focus {
    box-shadow: 0 0 2px rgba(27, 27, 27, 0.5);
}

.email-filter select {
    border: none;
    width: 100%;
    font-size: 1rem;
    background-color: #EFEFEF;
    color: blueviolet;
    padding: .64rem;
}

.email-filter select:focus {
    box-shadow: 0 0 2px rgba(27, 27, 27, 0.5);
}

@media (max-width: 700px) {
    .email-filter {
        grid-area: 1 / 1 / 2 / 3;
    }
}