.email-preview {
    background-color: rgb(200, 200, 200);
    font-size: .875rem;
    font-family: pop-med;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
}

.email-preview:hover {
    box-shadow: inset 0 0 3px rgb(27 27 27 / 50%);
}

.email-preview.read {
    font-family: pop-light;
    background-color: rgb(221, 221, 221);
}

.email-preview>* {
    padding: 1rem 1rem;
}

.emailpreview-body-container>* {
    padding: 0 .2rem;
}

.emailpreview-name-container i {
    margin-left: 5px;
    color: rgba(27, 27, 27, 0.342);
}