.notes-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

.notes-list .note {
    position: relative;
    background-color: #EFEFEF;
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
}