.notes-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: repeat(auto-fitt, 250px); */
    gap: 1rem;
}

.notes-list .note {
    background-color: #fff;
    box-shadow: -4px -1px 20px 0px rgb(218 199 199);
    border-radius: 0.5rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
}