.notes-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

.notes-list .note {
    position: relative;
    background-color: rgb(233, 220, 220);
    box-shadow: 8px 6px 13px 0px rgb(218 199 199);
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
}