
.home {
    background-image: linear-gradient(rgba(4, 9, 30, 0.200), 
    rgba(97, 76, 114, 0.300)), url(../img/hero.jpg);
min-height: 100vh;
}


.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}




.text-box h1 {
    font-family: pop-bold;
    font-size: 3.5rem;
    color: rgb(27, 27, 27);
}

.text-box p {
    margin: .5rem 0 2.5rem;
    font-size: .875rem;
    text-shadow: 0 0 #282828
}

.hero-btn {
    display: inline-block;
    position: relative;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: .875rem;
    font-weight: bold;
    padding: .75rem 2.125rem;
    transition: 0.5s;
}

.hero-btn:hover {
    border: 1px solid black;
    background-color: black;
    transition: 1s;
}

.home .fa {
    max-width: 1.5rem;
    display: none;
}