@import url('./helpers.css');

/* ....................................BOOKS......................... */
@import url('../../apps/Book/assets/css/book-details.css');
@import url('../../apps/Book/assets/css/book-preview.css');
@import url('../../apps/Book/assets/css/book-list.css');
@import url('../../apps/Book/assets/css/book-review-add.css');


body {
    background-color: #fff;

}

img {
    height: 100%;
    width: 100%;
}
