@import url(./fonts.css);
@import url(./helpers.css);

/* App Header */

@import url(./AppHeader.css);

/* .................HOME PAGE......................  */

@import url(./Home.css);

/* ...........................ABOUT PAGE....................... */

@import url(./about.css);
/* ..................FOOTER........................... */

@import url(./footer.css);

/* ....................................BOOKS......................... */

@import url(../../apps/Book/assets/css/book-app.css);
@import url(../../apps//Book/assets/css/book-details.css);
@import url(../../apps/Book/assets/css/book-preview.css);
@import url(../../apps/Book/assets/css/book-list.css);
@import url(../../apps/Book/assets/css/book-review-add.css);
@import url(../../apps/Book/assets/css/book-review-list.css);

/* .....................EMAIL.................................. */

@import url(../../apps/Email/assets/css/email-app.css);
@import url(../../apps/Email/assets/css/email-list.css);
@import url(../../apps/Email/assets/css/email-preview.css);
@import url(../../apps/Email/assets/css/email-sidebar.css);
@import url(../../apps/Email/assets/css/email-filter.css);
@import url(../../apps/Email/assets/css/email-add.css);
@import url(../../apps/Email/assets/css/email-details.css);
/* ..................................MISSKEEP........................................... */

@import url(../../apps/Keep/assets/css/miss-keep.css);
@import url(../../apps/Keep/assets/css/notes-list.css);
@import url(../../apps/Keep/assets/css/notes-preview.css);
@import url(../../apps/Keep/assets/css/notes-todo.css);
@import url(../../apps/Keep/assets/css/notes-img.css);
@import url(../../apps/Keep/assets/css/notes-txt.css);
@import url(../../apps/Keep/assets/css/add-note.css);
@import url(../../apps/Keep/assets/css/keep-edit-panel.css);
@import url(../../apps/Keep/assets/css/color-change-btn.css);
@import url(../../apps/Keep/assets/css/keep-edit-modal.css);

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: pop-reg, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

select {
    outline: none;
    resize: none;
}

iframe {
    width: 100%;
}