@import url(./fonts.css);
@import url(./helpers.css);

/* App Header */
@import url(./AppHeader.css);

/* .................HOME PAGE......................  */
/* @import url(./Home.css); */

/* ....................................BOOKS......................... */

@import url(../../apps/Book/assets/css/book-details.css);
@import url(../../apps/Book/assets/css/book-preview.css);
@import url(../../apps/Book/assets/css/book-list.css);
@import url(../../apps/Book/assets/css/book-review-add.css);
@import url(../../apps/Book/assets/css/book-review-list.css);

/* .....................EMAIL.................................. */

@import url(../../apps/Email/assets/css/email-list.css);
@import url(../../apps/Email/assets/css/email-preview.css);
@import url(../../apps/Email/assets/css/email-sidebar.css);
@import url(../../apps/Email/assets/css/email-add.css);
/* ..................................MISSKEEP........................................... */
@import url(../../apps/Keep/assets/css/miss-keep.css);
@import url(../../apps/Keep/assets/css/notes-list.css);
@import url(../../apps/Keep/assets/css/notes-preview.css);
@import url(../../apps/Keep/assets/css/notes-todo.css);
@import url(../../apps/Keep/assets/css/notes-img.css);
@import url(../../apps/Keep/assets/css/notes-txt.css);
@import url(../../apps/Keep/assets/css/add-note.css);
@import url(../../apps/Keep/assets/css/keep-edit-panel.css);
@import url(../../apps/Keep/assets/css/keep-edit-modal.css);
@import url(../../apps/Keep/assets/css/color-change-btn.css);

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: pop-reg;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

textarea {
    outline: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    width: 100%;
}